In [2]:
import pandas as pd

creating a series

In [3]:
#1. From python list
data = [10, 20, 30, 40]
s = pd.Series(data)
s

0    10
1    20
2    30
3    40
dtype: int64

2. with custom indexes

In [5]:
s = pd.Series([10, 20, 30], index=['a', 'b', 'c'])
s

a    10
b    20
c    30
dtype: int64

3. From a dictionary

In [6]:
data = {'a': 100, 'b': 200, 'c': 300}
s = pd.Series(data)
s

a    100
b    200
c    300
dtype: int64

Accessing elements

In [8]:
print(s['a'])
print(s[0])

100
100

C:\Users\jhask\AppData\Local\Temp\ipykernel_35460\1148839198.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s[0])

series operations

In [9]:
print(s+5)
print(s*2)

a    105
b    205
c    305
dtype: int64
a    200
b    400
c    600
dtype: int64

In [11]:
data = {
    'method': ['s.index', 's.values', 's.dtype', 's.Head()', 's.Tail()'],
    'def': ['shows index label', 'shows values', 'shows data type', 'first 5 values', 'last 5 values'] 
}
df = pd.DataFrame(data, index=[1, 2, 3, 4, 5])
df

     method                def
1   s.index  shows index label
2  s.values       shows values
3   s.dtype    shows data type
4  s.Head()     first 5 values
5  s.Tail()      last 5 values